body{
    background:linear-gradient(black);
    height: 100vh;
}
.container{
  height: 30vh;
  width: 60vw;
    margin: auto;
    margin-top: 25vh;
    /* background-color: orange; */
    border: orange 3px solid;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 310%;
    box-shadow: 0 0 10px orange;
}

h1{
  margin: 0%;
  margin-top: 5%;
  font-weight: 500;
  text-shadow: 0 0 5px rgb(238, 171, 27);
}
